

.fightWindow{


	display:flex;



}
.spaceBetween{
	position:relative;
	display:flex;
    width:800px;

	
}


.fighter { 

	position:relative;
	display:flex;
    width:400px; height:400px;

	
}

.opponent {

	position:relative;
	display:flex;
    width:400px; height:400px;

}


/* fighter*/
.girlIdle { 
	
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/idleGirl.png'); 
	animation: girlIdleAnim steps(16) 0.5s infinite; 
	
}
@keyframes girlIdleAnim {
    from { background-position:0px 0px; }
    to { background-position:-5864px 0px; }
}

.girlAttack { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/runGirl.png'); 
	animation: girlAttackAnim steps(10) 0.5s infinite;  
	
}

@keyframes girlAttackAnim {
    from { background-position:0px 0px; }
    to { background-position:-3665px 0px; }
}





.girlThrow { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/jumpGirl.png'); 
	animation: girlThrowAnim steps(14) 0.5s infinite; 
	
}
@keyframes girlThrowAnim {
    from { background-position:0px 0px;top:0%; }
    to { background-position:-5131px 0px;top:-14%; }
}



.girlDead { 
	position: absolute; 
	right:-10%;
    width:400px; height:400px;  /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/deadGirl.png'); 
	animation: girlDeadAnim steps(16) 2.5s infinite; 
	
}
@keyframes girlDeadAnim {
    from { background-position:0px 0px; }
    to { background-position:-7662px 0px; }
}



.roboIdle { 
	
   width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/idleRobo.png'); 
	animation: roboIdleAnim steps(10) 0.5s infinite; 
	
}
@keyframes roboIdleAnim {
    from { background-position:0px 0px; }
    to { background-position:-4079px 0px; }
}

.roboAttack { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/attackRobo.png'); 
	animation: roboAttackAnim steps(10) 0.5s infinite; 
	
}
@keyframes roboAttackAnim {
    from { background-position:0px 0px;}
    to { background-position:-4079px 0px; }
}

.roboThrow { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/throwRobo.png'); 
	animation: roboThrowAnim steps(9) 0.5s infinite; 
	
}
@keyframes roboThrowAnim {
    from { background-position:0px 0px;top:0%; }
    to { background-position:-3671px 0px;top:10%; }
}

.roboDead { 
	position: absolute; 
	right:-10%;
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/deadRobo.png'); 
	animation: roboDeadAnim steps(10) 2.5s infinite; 
	
}
@keyframes roboDeadAnim {
    from { background-position:0px 0px; }
    to { background-position:-4331px 0px; }
}



.jackoIdle { 
	transform:scaleX(-1);
	margin-top: 15%;
    width:350px; height:450px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/jacko/idleJacko.png'); 
	animation: jackoIdleAnim steps(10) 0.5s infinite; 
	
}
@keyframes jackoIdleAnim {
    from { background-position:0px 0px; }
    to { background-position:-3415px 0px; }
}

.jackoAttack { 
	position: absolute; 
	margin-top: 5%;
    width:350px; height:450px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/jacko/attackJacko.png'); 
	animation: jackoAttackAnim steps(8) 0.5s infinite; 
	
}
@keyframes jackoAttackAnim {
    from { background-position:0px 0px; }
    to { background-position:-2736px 0px; }
}

.jackoThrow { 
	position: absolute; 
	margin-top: -4%;
    width:375px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/jacko/throwJacko.png'); 
	animation: jackoThrowAnim steps(10) 0.5s infinite; 
	
}
@keyframes jackoThrowAnim {
    from { background-position:0px 0px;top:0%; }
    to { background-position:-3694px 0px;top:10%; }
}

.jackoDead { 
	position: absolute; 
	margin-top: 5%;
    width:450px; height:450px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/jacko/deadJacko.png'); 
	animation: jackoDeadAnim steps(10) 2.5s infinite; 
	
}
@keyframes jackoDeadAnim {
    from { background-position:0px 0px; }
    to { background-position:-5574px 0px; }
}



.santaIdle { 

	transform:scaleX(-1);
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/idleSanta.png'); 
	animation: santaIdleAnim steps(16) 0.5s infinite; 
	
}
@keyframes santaIdleAnim {
    from { background-position:0px 0px; }
    to { background-position:-9325px 0px; }
}

.santaAttack { 

	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/attackSanta.png'); 
	animation: santaAttackAnim steps(11) 0.5s infinite; 
	
}
@keyframes santaAttackAnim {
    from { background-position:0px 0px; }
    to { background-position:-6411px 0px; }
}

.santaThrow { 

	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/throwSanta.png'); 
	animation: santaThrowAnim steps(16) 0.5s infinite; 
	
}
@keyframes santaThrowAnim {
    from { background-position:0px 0px;bottom:0%; }
    to { background-position:-9325px 0px;bottom:10%; }
}

.santaDead { 

	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/deadSanta.png'); 
	animation: santaDeadAnim steps(16) 2.5s infinite; 
	
}
@keyframes santaDeadAnim {
    from { background-position:0px 0px; }
    to { background-position:-9325px 0px; }
}



.ninjaIdle { 

    width:232px; height:439px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/ninja/idle.png'); 
	animation: ninjaIdleAnim steps(10) 0.5s infinite; 
}
@keyframes ninjaIdleAnim {
    from { background-position:0px 0px; }
    to { background-position:-2320px 0px; }
}

.ninjaThrow { 

	width:377px; height:451px; /* exactly the size of an image in our sprite */
	background-image:url('../images/fighter/ninja/throw.png');
    animation: ninjaThrowAnim steps(10) 0.5s infinite; 

}
@keyframes ninjaThrowAnim {
    from { background-position:0px 0px;    }
    to { background-position:-3770px 0px;   }
	
}

.ninjaAttack { 
	position: absolute; 
	width:536px; height:495px; /* exactly the size of an image in our sprite */
	background-image:url('../images/fighter/ninja/slash.png');
    animation: ninjaAttack steps(10) 0.7s infinite; 

}
@keyframes ninjaAttack {
    from { background-position:0px 0px; }
    to { background-position:-5360px 0px;   }
	
}

.ninjaDead { 
	
	width:482px; height:498px; /* exactly the size of an image in our sprite */
	background-image:url('../images/fighter/ninja/ninjadead.png');
    animation: ninjaDeadAnim steps(10) 0.5s infinite; 

}
@keyframes ninjaDeadAnim {
    from { background-position:0px 0px;    }
    to { background-position:-4910px 0px;   }
	
}



/* Opponent fighter*/

.girlIdleOpponent { 
	
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/idleGirl.png'); 
	animation: girlIdleAnimOpponent steps(16) 0.5s infinite; 
	
}
@keyframes girlIdleAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-5864px 0px; }
}

.girlAttackOpponent { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/runGirl.png'); 
	animation: girlAttackAnimOpponent steps(10) 0.5s infinite;  
	
}

@keyframes girlAttackAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-3665px 0px; }
}





.girlThrowOpponent { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/jumpGirl.png'); 
	animation: girlThrowAnimOpponent steps(14) 0.5s infinite; 
	
}
@keyframes girlThrowAnimOpponent {
    from { background-position:0px 0px;top:0%; }
    to { background-position:-5131px 0px;top:-14%; }
}



.girlDeadOpponent { 
	position: absolute; 
	right:-10%;
    width:400px; height:400px;  /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/girl/deadGirl.png'); 
	animation: girlDeadAnimOpponent steps(16) 2.5s infinite; 
	
}
@keyframes girlDeadAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-7662px 0px; }
}



.roboIdleOpponent { 
	
   width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/idleRobo.png'); 
	animation: roboIdleAnimOpponent steps(10) 0.5s infinite; 
	
}
@keyframes roboIdleAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-4079px 0px; }
}

.roboAttackOpponent { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/attackRobo.png'); 
	animation: roboAttackAnimOpponent steps(10) 0.5s infinite; 
	
}
@keyframes roboAttackAnimOpponent {
    from { background-position:0px 0px;}
    to { background-position:-4079px 0px; }
}

.roboThrowOpponent { 
	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/throwRobo.png'); 
	animation: roboThrowAnimOpponent steps(9) 0.5s infinite; 
	
}
@keyframes roboThrowAnimOpponent {
    from { background-position:0px 0px;top:0%; }
    to { background-position:-3671px 0px;top:10%; }
}

.roboDeadOpponent { 
	position: absolute; 
	right:-10%;
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/robo/deadRobo.png'); 
	animation: roboDeadAnimOpponent steps(10) 2.5s infinite; 
	
}
@keyframes roboDeadAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-4331px 0px; }
}





.santaIdleOpponent { 

	transform:scaleX(-1);
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/idleSanta.png'); 
	animation: santaIdleAnimOpponent steps(16) 0.5s infinite; 
	
}
@keyframes santaIdleAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-9325px 0px; }
}

.santaAttackOpponent { 

	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/attackSanta.png'); 
	animation: santaAttackAnimOpponent steps(11) 0.5s infinite; 
	
}
@keyframes santaAttackAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-6411px 0px; }
}

.santaThrowOpponent { 

	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/throwSanta.png'); 
	animation: santaThrowAnimOpponent steps(16) 0.5s infinite; 
	
}
@keyframes santaThrowAnimOpponent {
    from { background-position:0px 0px;bottom:0%; }
    to { background-position:-9325px 0px;bottom:10%; }
}

.santaDeadOpponent { 

	position: absolute; 
    width:400px; height:400px; /* exactly the size of an image in our sprite */
    background-image:url('../images/fighter/santa/deadSanta.png'); 
	animation: santaDeadAnimOpponent steps(16) 2.5s infinite; 
	
}
@keyframes santaDeadAnimOpponent {
    from { background-position:0px 0px; }
    to { background-position:-9325px 0px; }
}



/*other stuff*/


.moveRight{
	
	animation: moveRightAnim steps(10) 0.5s infinite;  
}

@keyframes moveRightAnim {
    from { right:0%; }
    to { right:85%; }
}

.moveLeft{
	
	animation: moveLeftAnim steps(10) 0.5s infinite;  
}

@keyframes moveLeftAnim {
    from { left:0%; }
    to { left:85%; }
}


.projectile{
	position: absolute;
	bottom:500px;
	width:512px; height:197px;
	
}

.brojectile{
	position: absolute;
	bottom:500px;
	width:512px; height:197px;
	
}
.fireball{
	position: absolute;
	left:15%;
    top:30%;
	transform: scaleX(-1);
	width:512px; height:197px;
	background-image:url('../images/attack/fireball/fireball.png');
	animation: fireballAnim steps(6) 0.72s infinite; 

	
}
@keyframes fireballAnim {
	
	
	from { background-position:0px 0px;  left: 10%;  } 
	 to { background-position:-3072px 0px;  left: 75%; }
}
@keyframes fireballOpponentAnim {
	from { background-position:0px 0px;  left: 75%;  } 
	 to { background-position:-3072px 0px;  left: 10%; }
}



.smoke{
	position: absolute;
	left:75%;
    top:25%;
	z-index:10;
	width:512px; height:512px;
	background-image:url('../images/attack/fireball/smoke.png');
	animation: smokeAnim steps(10) 0.5s infinite; 

	
}
@keyframes smokeAnim {
    from { background-position:0px 0px;    }
    to { background-position:-5210px 0px;   }
	
}

@keyframes smokeOpponentAnim {
    from { background-position:0px 0px;    }
    to { background-position:-5210px 0px;   }
	
}

.blood{
	position: absolute;
	left:75%;
    top:25%;
	z-index:11;
	width:512px; height:512px;
	background-image:url('../images/attack/slash/blood.png');
	animation: bloodAnim steps(6) 0.3s infinite; 

	
}
@keyframes bloodAnim {
    from { background-position:0px 0px;    }
    to { background-position:-3072px 0px;   }
	
}


.winner{
	display:none;
}
.loser{
	background: url('../images/mahnzettel.jpg') no-repeat center fixed; 
	background-color:rgba(0, 0, 0, 0.6) ;
	height:100%;
	width:auto;
	display:none;
	color:red;
	text-align: center;
	font-size: 100px;
	text-shadow: 3px 2px Orange;

}
.heal{

	position: absolute;
	left:15%;
    top:30%;
	transform: scaleX(-1);
	width:509px; height:441px;
	background-image:url('../images/attack/heal/hog.png'); no-repeat center fixed; 
	animation: healAnim steps(10) 3.0s infinite; 

	
}
@keyframes healAnim {

	0% {top:-40%;  left: 30%;  } 
	40% { top:15%;  left: 45%; }
	50% { top:20%;  left: 50%; }
	60% { top:15%;  left: 45%; }
	100% {top:-40%;  left: 30%;  } 
}

.flash{
	position: absolute;
	left:60%;
    top:25%;
	z-index:10;
	width:400px; height:400px;
	background-image:url('../images/attack/heal/heal.png');
	animation: flashAnim steps(11) 1.0s infinite; 

	
}
@keyframes flashAnim {
    from { background-position:0px 0px;    }
    to { background-position:-5632px 0px;   }
	
}








	
    